@page "/cryptochallengeset1"

<h3>Crypto Challenge Set1</h3>

<h4>Hex to Base64</h4>
The string
<ResultPrompt Text="@HexStringChallange1"></ResultPrompt>
The result 
<ResultPrompt Text="@HexStringToBase64String(HexStringChallange1)"></ResultPrompt>

<h4>Fixed XOR </h4>
The string
<ResultPrompt Text="1c0111001f010100061a024b53535009181c"></ResultPrompt>
The key
<ResultPrompt Text="686974207468652062756c6c277320657965"></ResultPrompt>
The result
<ResultPrompt Text="@FixedXOR("1c0111001f010100061a024b53535009181c","686974207468652062756c6c277320657965")"></ResultPrompt>