@page "/"

<h1>Cryptopals challenge write-up</h1>

<p>
    99 little bugs in the code,
    <br />
    99 bugs in the code,
    <br />
    fix one bug, compile it again,
    <br />
    101 little bugs in the code.
    <br />
    101 little bugs in the code.....
    <br />
    (Repeat until BUGS = 0)
</p>